<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/highlightjs/styles/tomorrow.css">
    <script src="/static/js/highlight.pack.js"></script>
    <link rel="stylesheet" href="/static/css/easymde/easymde.min.css">
    <script src="/static/js/easymde/easymde.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.png">
    <title>{{ .Title }}</title>
    <style>
        img {
            width: 80%;
            display: block;
            box-shadow: 0 0 10px #555;
            border-radius: 6px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            -webkit-box-shadow: 0 0 10px #555;
        }

        img.displayed {
            text-align: center;
            display: block;
        }
        body {
            font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            font-size: 18px;
        }
    </style>
</head>

<body>
<div class="container" style="width: 90%; margin-top: 2%;">
    <div class="row-fluid">
        <div id="main" class="panel col-md-8 col-md-offset-2">
            <div class="panel-heading" style="text-align: center">
                <div class="dropdown" style="margin-left: 90%">
                    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown"></span>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" href="javascript:toggleTag();">
                                <span class="glyphicon glyphicon-tags"></span> Edit Tags
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" href="javascript:toggleImage();">
                                <span class="glyphicon glyphicon-picture"></span> Upload Image
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" href="javascript:publishArticle();">
                                <span class="glyphicon  glyphicon-floppy-save"></span> Publish
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" href="javascript:back2Manage();">
                                <span class="glyphicon  glyphicon-arrow-left"></span> Manage
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="input-group" style="margin-left: 10%; margin-right: 10%">
                    <span class="input-group-addon">Title</span>
                    <input id="title" style="font-weight: bold; font-size: 20px" type="text" class="form-control" autocomplete="off">
                </div>
                <hr>
                <textarea id="editor"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tagDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Tag</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">Tags</span>
                    <input id="tags" type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Image</h4>
            </div>
            <div class="modal-body">
                <input id="image-file" name="image" type="file">
                <botton id="uploadImage" class="btn btn-primary" onclick="uploadImage();" style="margin-left: 80%">Upload</botton>
                <table id="table" class="table">
                    <caption style="text-align: center">Image List</caption>
                    <tbody id="img">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myStatus"></h4>
            </div>
            <div class="modal-body" id="myModal"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/edit.js"></script>
</html>
